@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "base/reset";
@import "base/variables";

body {
   font-family: $ff;
   font-size: $fs-rg;
   text-align: center;
   display: flex;

   background-image: url("../../images/bg-intro-mobile.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: $bg-red;
   color: white;
}

.container {
   padding: 6rem 1.5rem;
   display: flex;
   flex-direction: column;
   row-gap: 4.5rem;
   margin-right: auto;
   margin-left: auto;
}

.hero {
   // outline: 1px solid green;
   max-width: 500px;

   h2 {
      font-size: 1.75rem;
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1rem;
   }

   p {
      font-weight: 400;
   }
}

.action-wrap {
   // outline: 1px solid red;
   font-size: $fs-sm;
   display: flex;
   flex-direction: column;
   row-gap: 1.5rem;

   .trial-banner {
      background-color: $bt-blue;
      color: white;
      width: 100%;
      border: none;
      border-radius: 8px;
      padding: 1rem 0;
      box-shadow: 0px 10px 7px -1px rgba(0, 0, 0, 0.49);
      font-size: $fs-rg;
      text-align: center;

      span {
         font-weight: 600;
      }
   }

   .form {
      background-color: white;
      border: none;
      border-radius: 8px;
      padding: 1.5rem;

      input {
         width: 100%;
         padding: 1rem 1.5rem;
         padding-left: 1.2rem;
         padding-right: 1.2rem;
         margin-bottom: 1rem;
         border-radius: 8px;
         border: 1px solid $grayish-blue;

         &::placeholder {
            font-weight: 600;
         }

         &:focus {
            outline: 0;
            border-color: #777;
         }
      }

      .form-control {
         position: relative;
         // outline: 1px solid red;

         i {
            position: absolute;
            width: $fs-rg;
            right: 1.2rem;
            top: calc(50% - 1rem);

            visibility: hidden;
            // visibility: visible;
         }

         small {
            position: absolute;
            font-size: 0.512rem;
            color: $bg-red;
            font-style: italic;
            bottom: 2.5px;
            right: 2px;
            font-weight: 400;
            visibility: hidden;
         }
      }
   }

   // form control success or error

   .form-control {
      &.success {
         input {
            border-color: #2ecc71;
         }
      }

      &.error {
         input {
            border-color: #e74c3c;
            // visibility: visible;
         }

         i {
            visibility: visible;
         }

         small {
            visibility: visible;
         }
      }
   }

   // ----------------------------------------

   .submit-btn {
      width: 100%;
      background-color: $bt-green;
      border: none;
      border-radius: 8px;
      padding: 1rem 2rem;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.5px;
      border-bottom: 3px rgba(60, 60, 60, 0.261) solid;
      cursor: pointer;

      p {
         font-size: $fs-rg;
         transform: translateY(3px);
      }

      &:hover {
         cursor: pointer;
         transition: 0.3s;
         opacity: 0.85;
      }
   }

   .terms {
      // outline: 1px solid red;
      color: $grayish-blue;
      font-size: 12px;
      padding: 0.5rem;
      font-weight: 400;

      .terms-link {
         text-decoration: none;
         color: $bg-red;
         font-weight: 600;

         &:hover {
            cursor: pointer;
            opacity: 0.85;
            transition: 0.3s;
         }
      }
   }
}

@media (min-width: 468px) {
   body {
      font-size: $fs-md;
   }

   .hero {
      h2 {
         font-size: 2.25rem;
         margin-bottom: 1.5rem;
      }
   }
}

@media (min-width: 768px) {
   .action-wrap {
      .trial-banner {
         font-size: $fs-md;
      }

      row-gap: 2.5rem;

      .form {
         padding: 2rem;

         input {
            @media (min-width: 768px) {
               margin-bottom: 1.75rem;
               font-size: $fs-md;
            }
         }

         .form-control {
            i {
               position: absolute;
               width: $fs-md;
               right: 1.2rem;
               top: calc(50% - 1.5rem);

               // visibility: visible;
            }

            small {
               font-size: $fs-rg;
            }
         }
      }

      .submit-btn {
         P {
            font-size: $fs-md;
         }
      }

      .terms {
         // outline: 1px solid red;
         max-width: 300px;
         font-size: 14px;
         margin-right: auto;
         margin-left: auto;
      }
   }
}

// desktop

@media only screen and (min-width: 1024px) {
   body {
      background-image: url("../../images/bg-intro-desktop.png");
   }

   .container {
      margin-bottom: auto;
      margin-top: auto;
      flex-direction: row;
      align-items: center;
      column-gap: 5rem;
      row-gap: 0;
   }

   .hero {
      text-align: left;

      h2 {
         font-size: 3rem;
         margin-left: 0;
      }

      p {
         font-size: 1.5rem;
      }
   }

   .action-wrap {
      row-gap: 1.75rem;
   }
}

@media (min-width: 1280px) {
   .action-wrap {
      // outline: 1px solid red;

      width: 40vw;

      .trial-banner {
         display: flex;
         justify-content: center;
         align-items: center;
         column-gap: 5px;
      }

      .submit-btn {
         P {
            font-size: $fs-md;
         }
      }

      .terms {
         // outline: 1px solid red;
         max-width: 600px;
         font-size: 14px;
         margin-right: auto;
         margin-left: auto;
      }
   }
}
