// primary color
$bg-red: hsl(0, 100%, 74%);

// button color
$bt-green: hsl(154, 59%, 51%);
$bt-blue: hsl(248, 32%, 49%);

// neutral color
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

// font-size
$fs-md: 1.25rem;
$fs-rg: 1rem;

$fs-sm: 0.825rem;
$fs-xs: 0.775rem;

// font family
$ff: "Poppins", sans-serif;
